@model BradsBank.Views.Home.TransactionsModel
@{
}

<style>
    table, th, td {
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: 30px;
        width: 1000px;
    }
</style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bank of Brad</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Home/AccountActions?username=@Model.Username">Manage Account</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Home/TransactionsActions?username=@Model.Username">View Transactions</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="text-center">
    <section>
        <h1>@Model.TransactionsType Transactions</h1><br>
        <table>
            
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Account</th>
                    <th>Transaction Amount ($)</th>
                    <th>Balance After Transaction ($)</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var row in Model.TransactionHistory)
                {
                    <tr>
                        <td>@row[0]</td>
                        <td>@row[1]</td>
                        <td>@row[2]</td>
                        <td>@row[3]</td>
                        <td>@row[4]</td>
                    </tr>
                }
            </tbody>

        </table>
    </section>
</div>
